<div id="ekihd-losungen"></div>
<p style="font-size: x-small; line-height: initial;">
  <a href="http://www.herrnhuter.de">© Evangelische Brüder-Unität – Herrnhuter Brüdergemeine</a> - Weitere Informationen finden Sie <a href="http://www.losungen.de">hier</a>.
</p>
<script type="text/javascript" crossorigin="anonymous" async defer
  src="https://script.google.com/macros/s/AKfycbw5RhHM40NhCI4_I4jBj-GOFY3ksiofNhWN0FiU7x9ztGYD4INQ/exec?element=ekihd-losungen"></script>